<p>productdetails works!</p>
<p>adminpage works!</p>
<div class="card-top container-fluid"></div>
<div  class="container">
<div class="row">

      
        <ng-container *ngFor="let item of products ">
            <div class="card-col-md-4">
              <div class="spacer" >
           
            <img class="img" src="{{item.image}}" alt=""> <br><br>
            <h5 class="divv" style="white-space: nowrap;overflow: hidden;text-overflow: ellipse;max-width: 10inch;">{{item.beaty}}</h5>
            
            <p class="divv" style="white-space: nowrap;overflow: hidden;text-overflow: ellipse;max-width: 10inch">{{item.name}}</p>
                
              <P class="divv">₹ {{item.price}}</P> 
                <h4>{{item.description}}</h4>
                
                </div>
                <div class="button">
                 <button class="btn btn-outline-dark" [routerLink]="['/']" (click)="addtoCart(item)">add to cart</button>&nbsp;
            <button class="btn btn-outline-dark"  [routerLink]="['/cart']" (click)="addtoCart(item)">buy now</button>
        </div></div>
            </ng-container>
        
            
           
           
    </div>
</div>


 <!-- <h6 class="divs" [routerLink]="['/admin']"  ><img style="width: 25px; margin-top: 5px;" src="https://th.bing.com/th/id/OIP.0mrqOxepIamnbyCNaGxOqAHaHj?w=185&h=189&c=7&r=0&o=5&pid=1.7"alt=> Logout</h6>
 <ng-container *ngIf="products.length !=0">
     <div class="card-table">
         <div >
             <table class="table table responsive">
             <thead>
                 <tr>
                     <th>Id</th>
                     <th>Title</th>
                     <th>Image</th>
                     <th>Price</th>
                     <th>Department</th>
                     <th>Available Count</th>
                     <th>Action</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let item of products;let i = index">
                     <td>{{i+1}}</td>
                     <td>{{item.title}}</td>
                     <td><img style="width: 100px;" src="{{item.images}}" alt=""></td>
                     <td>{{item.price}}</td>
                     <td>{{item.department}}</td>
                     <td>{{item.count}}</td>
                     <td><button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                 </tr>
                 <tr>
                     <td colspan="4"></td>
                     <td><button (click)="emptycart()" class="btn btn-danger">Delete</button></td>
                     <td><button routerLink="/products"class="btn btn-primary">Add</button></td>
                     </tr>  
             </tbody>
 </table>
         </div>
     </div>
 </ng-container>
 <ng-container *ngIf="products.length==0">
     <div class="container">
         <div class="center">
             <img src="https://th.bing.com/th/id/OIP.IwBSEqJBRMrltwGE_WwszAHaEK?w=275&h=180&c=7&r=0&o=5&pid=1.7" alt="">
             <h5>There is no book in your library </h5>
            <button routerLink="/products"class="btn btn-primary">Add Book</button>
         </div>
     </div>
 </ng-container> -->
 