<ng-container *ngIf="loged">
<div><mat-toolbar color="primary">
<li><H1 routerLink="/home" >E-cart</H1></li>
<div class="spacer"></div>
<!-- <a><input type="search" id="form1" placeholder="search" [(ngModel)]="searchTerm" (keyup)="search($event)"></a>&nbsp;&nbsp; -->
<button class="btn">
  <a   routerLink="cart" routerLinkActive="active" class="fas fa-cart-plus" > My Cart</a>
  <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
</button>&nbsp;
<button style="border: 0px; background-color:rgb(72 72 191);color: white;" (click)="logout()">Logout</button>
</mat-toolbar>

<div class="container">
  <div  class="row">
    <ul>
      <li class="all" [routerLink]="['/jewellery']">JEWELLERY</li>
      <li class="all" [routerLink]="['/beauty']">BEAUTY</li>
      <li class="all" [routerLink]="['/handbags']">HANDBAGS</li>
      <li class="all" [routerLink]="['/footwear']">FOOTWEAR</li>
      <li class="all" [routerLink]="['/accessories']">ACCESSORIES</li>
    </ul>
  </div>
</div>
</div>

</ng-container>



<ng-container *ngIf="!loged">
  <div><mat-toolbar color="primary">
    <li><H1 routerLink="/home" >E-cart</H1></li>
    <div class="spacer"></div>
    <!-- <a><input type="search" id="form1" placeholder="search" [(ngModel)]="searchTerm" (keyup)="search($event)"></a>&nbsp;&nbsp; -->
    <button class="btn">
      <a   routerLink="cart" routerLinkActive="active" class="fas fa-cart-plus" > My Cart</a>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>&nbsp;
    <button [routerLink]="['/login']" style="border: 0px; background-color:rgb(72 72 191);color: white;" >Login</button>
    </mat-toolbar>
    
    <div class="container">
      <div  class="row">
        <ul>
          <li class="all" [routerLink]="['/jewellery']">JEWELLERY</li>
          <li class="all" [routerLink]="['/beauty']">BEAUTY</li>
          <li class="all" [routerLink]="['/handbags']">HANDBAGS</li>
          <li class="all" [routerLink]="['/footwear']">FOOTWEAR</li>
          <li class="all" [routerLink]="['/accessories']">ACCESSORIES</li>
        </ul>
      </div>
    </div>
    </div>
</ng-container>



<router-outlet></router-outlet>