.card{
    border: none;
    width:500px;
    padding: 40px;
    position: absolute;
    top: 10%;  
    left: 50%;
    transform: translate(-50%,50%);
    background: rgb(241, 119, 176);
    background: linear-gradient(90deg,rgb(3, 6, 145)0%,rgb(75, 169, 231)100%);
   
   }
   
   .card label h1,h6{
    color:white
   }
   
   label{
    color: white;
   }
   
   .col-md-6
   {
       margin-left: auto;
       margin-right: auto;
    
   }
   .font{
    color: rgb(253, 253, 253);
   }